{% extends 'base.html' %}

{% block content %}
<p>{{ actors|length }} Titles</p>
<form method="post">
	<a class="btn" href="{{ url_for('input') }}">数据录入
	<a class="btn" href="{{ url_for('m_search') }}">电影查询
	<a class="btn" href="{{ url_for('a_search') }}">演员查询
	<a class="btn" href="{{ url_for('r_search') }}">关系查询</a>
</form>
<ul class="movie-list">
	{% for actor in actors %}
	<li>{{ actor.actor_name }} - {{ actor.ender }} - {{ actor.country }}
	<span class="float-right">
		<a class="btn1" href="{{ url_for('a_edit', actor_id=actor.actor_id) }}">Edit</a>
		<form class="inline-form" method="post" action="{{ url_for('a_delete',actor_id=actor.actor_id)	}}">
			<input class="btn1" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
		</form>
	</span>
	</li>
{% endfor %}
</ul>
<img alt="Furina Skill" class="skill" src="{{ url_for('static', filename='images/fu.gif') }}"title="罪人舞步旋">
{% endblock %}



