{% extends 'base.html' %}

{% block content %}
<p>{{ movies|length }} Titles</p>
<form method="post">
	<a class="btn" href="{{ url_for('input') }}">数据录入
	<a class="btn" href="{{ url_for('m_search') }}">电影查询
	<a class="btn" href="{{ url_for('a_search') }}">演员查询</a>
</form>
<ul class="movie-list">
	{% for movie in movies %}
	<li>{{ movie.movie_name }} - {{ movie.country }} - {{ movie.type }} - {{ movie.year }}
	</li>
{% endfor %}
</ul>
<img alt="Furina Skill" class="skill" src="{{ url_for('static', filename='images/fu.gif') }}"title="罪人舞步旋">
{% endblock %}



